.card {
  height: 12rem;
  width: 15rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  margin: 0.8rem;
  background: rgb(124, 120, 120);
  position: relative;
}

.delete_button {
  position: absolute;
  right: 8%;
  bottom: 5%;
  width: 0;
  height: 0;
  border-radius: 50%;
  border: none;
}

.trash {
  position: absolute;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  bottom: -200%;
  left: -100%;
  cursor: pointer;
  background-color: white;
  padding: 0.5rem;
  border-radius: 50%;
}
