:root {
  --margin-value: 2rem 10rem;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

header {
  margin: var(--margin-value);
}

header h2 {
  margin: 0.8rem;
}

.App {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  margin: var(--margin-value);
}
